<section class="welcome">
  <h1>Encontre o aconchego perfeito </h1>
  <p>
    Descubra a magia das pousadas brasileiras
  </p>
  <a href="#guesthouses-grid">Ver pousadas</a>
</section>

<h2 class="title-guesthouses">Pousadas à disposição em destinos encantadores.</h2>

<section id="guesthouses-grid">
  <h3>Pousadas em <%= @city %></h3>

  <div class="guesthouses">
    <% @guesthouses.each do |guesthouse| %>

    <div class="card-guesthouse">

      <p class="description">
        <%= truncate(guesthouse.description, length: 70) %>
      </p>
      
      <h2 class="title"> <%= link_to guesthouse.name, guesthouse_path(guesthouse) %>  </h2>

      <p class="informations">
        <%= guesthouse.state + " | " + guesthouse.district + " | " + guesthouse.address %>
      </p>
      
      <p class="contact">
        <%= guesthouse.phone %>
      </p>

    </div>

  <% end %>
  </div>
</section>