<h2 class="title-guesthouses">Pousadas à disposição em destinos encantadores.</h2>

<section id="guesthouses-grid">
  <h3>Pousadas em <%= @city %></h3>

  <%= form_tag guesthouses_by_city_path, method: :get, remote: true do %>
    <div class="field">
      <%= label_tag :city, "Cidades:" %>
      <%= select_tag :city, options_for_select(Guesthouse.pluck(:city).uniq, params[:city]), onchange: "this.form.submit();" %>
    </div>

    <%= submit_tag "Filtrar" %>
  <% end %>

  <div class="guesthouses">
    <% @guesthouses.each do |guesthouse| %>

    <div class="card-guesthouse">

      <p class="description">
        <%= truncate(guesthouse.description, length: 70) %>
      </p>
      
      <h2 class="title"> <%= link_to guesthouse.name, guesthouse_path(guesthouse) %>  </h2>

      <p class="informations">
        <%= guesthouse.state + " | " + guesthouse.district + " | " + guesthouse.address %>
      </p>
      
      <p class="contact">
        <%= guesthouse.phone %>
      </p>

    </div>

  <% end %>
  </div>
</section>