<section class="informations-guesthouse">

  <div class="header-guesthouse">
    <h1 class="name-guesthouse"><%= @guesthouse.name %></h1>
    <p class="description-guesthouse"><%= @guesthouse.description %></p>
  </div>

  <div class="address-guesthouse">
    <p class="informations-address">
      <%= @guesthouse.address %> | <%= @guesthouse.district %> | <%= @guesthouse.state %> | 
      <%= @guesthouse.city %> | CEP: <%= @guesthouse.cep %>
    </p>
  </div>

  <div class="general-informations">
    <p>Check-in: <%= @guesthouse.check_in_time.strftime("%H:%M") %></p>
    <p>Check-out: <%= @guesthouse.check_out_time.strftime("%H:%M") %></p>
    <p> Meios de pagamento: <%= @guesthouse.accepted_payment_methods %></p>
    <p><%= @guesthouse.accepts_pets ? "Aceita pets" : "Não aceita pets" %></p>
  </div>

  <% if @guesthouse.policies.present? %>
    <p class="policies-guesthouse"><strong>Políticas:</strong> <%= @guesthouse.policies %></p>
  <% end %>

  <div class="contact-guesthouse">
    <p class="informations-contact">
      Tel: <%= @guesthouse.phone %> | E-mail: <%= @guesthouse.email %>
    </p>
  </div>

  <% if owner_signed_in? && current_owner.guesthouse.id == @guesthouse.id %>
    <div class="admin-buttons">
      <%= link_to "Adicionar quarto", new_room_path %>
      <%= link_to "Ver quartos desabilitados", rooms_path %>
      <%= link_to "Editar pousada", edit_guesthouse_path(@guesthouse) %>
    </div>
  <% end %>
</section>

<h2 class="title-rooms">Quartos disponíveis</h2>

<section class="rooms-grid">

  <% if @rooms.empty? %>
    <p>Não possui nenhum quarto disponível</p>
  <% end %>

  <div class="rooms">
    <% @rooms.each do |room| %>
    
      <div class="card-room">
        <p class="description"><%= room.description %></p>

        <% if owner_signed_in? && current_owner.guesthouse.id == @guesthouse.id %>
          <p class="title"><%= link_to room.name, room_path(room) %></p>
        <% else %>
          <p class="title-visit"><%= room.name %></p>
        <% end %>

        <div class="informations">
          <p>Área: <%= room.dimension %>m²</p>
          <p>Quantidade máxima de pessoas: <%= room.max_occupancy %></p>
        </div>
        
        <div class="more-informations">
          <% if room.has_private_bathroom %>
            <p>Banheiro privado</p>
          <% end %>

          <% if room.has_balcony %>
            <p>Possui varanda</p>
          <% end %>

          <% if room.has_air_conditioning %>
            <p>Ar-condicionado</p>
          <% end %>

          <% if room.has_tv %>
            <p>Possui TV</p>
          <% end %>

          <% if room.has_wardrobe %>
            <p>Tem guarda-roupa</p>
          <% end %>

          <% if room.is_accessible %>
            <p>Acessível para PCD</p>
          <% end %>

          <% if room.has_cofre %>
            <p>Possui cofre</p>
          <% end %>

        </div>

        <div class="menu">
          <p>R$<%= number_with_precision(room.daily_rate, precision: 2, separator: ',') %><small>/noite</small></p>
          <%= link_to "Fazer reserva", new_room_reservation_path(room_id: room.id) %>
        </div>
      </div>

    <% end %>
  </div>
</section>


