<div>
  <h1><%= @guesthouse.name %></h1>

  <p><%= @guesthouse.legal_name %></p>
  <p><%= @guesthouse.cnpj %></p>
  <p><%= @guesthouse.phone %></p>
  <p><%= @guesthouse.email %></p>
  <p><%= @guesthouse.address %></p>
  <p><%= @guesthouse.district %></p>
  <p><%= @guesthouse.state %></p>
  <p><%= @guesthouse.city %></p>
  <p><%= @guesthouse.cep %></p>
  <p><%= @guesthouse.description %></p>
  <p><%= @guesthouse.accepted_payment_methods %></p>
  <p><%= @guesthouse.accepts_pets ? "Aceita pets" : "Não aceita pets" %></p>
  <p><%= @guesthouse.policies %></p>
  <p>Check-in: <%= @guesthouse.check_in_time.strftime("%H:%M") %></p>
  <p>Check-out: <%= @guesthouse.check_out_time.strftime("%H:%M") %></p>
</div>

<% if user_signed_in? && current_user.guesthouse.id == @guesthouse.id %>
  <div>
    <%= link_to "Adicionar quarto", new_room_path %>
    <%= link_to "Ver quartos desabilitados", rooms_path %>
  </div>
<% end %>

<div>
  <h2>Quartos disponíveis</h2>
  <% if @rooms.empty? %>
    <p>Não possui nenhum quarto disponível</p>
  <% end %>

  <% @rooms.each do |room| %>
    
    <p><%= link_to room.name, room_path(room) %></p>
    <p><%= room.description %></p>
    <p>Área: <%= room.dimension %></p>
    <p>Quantidade máxima de pessoas: <%= room.max_occupancy %></p>
    <p>R$<%= number_with_precision(room.daily_rate, precision: 2, separator: ',') %></p>
    <p><%= room.has_private_bathroom ? "Tem banheiro" : "Não tem banheiro" %></p>
    <p><%= room.has_balcony ? "Tem varanda" : "Não tem varanda" %></p>
    <p><%= room.has_air_conditioning ? "Tem ar-condicionado" : "Não tem ar-condicionado" %></p>
    <p><%= room.has_tv ? "Tem TV" : "Não tem TV" %></p>
    <p><%= room.has_wardrobe ? "Tem guarda-roupa" : "Não tem guarda-roupa" %></p>
    <p><%= room.is_accessible ? "Acessível" : "Não é acessível" %></p>
    <p><%= room.has_cofre ? "Tem cofre" : "Não tem cofre" %></p>
    <a href="#">Fazer reserva</a>

  <% end %>
</div>


