<h1 class="title-visit"><%= @room.name %></h1>

<p class="description"><%= @room.description %></p>

<div class="informations">
  <p>Área: <%= @room.dimension %>m²</p>
  <p>Quantidade máxima de pessoas: <%= @room.max_occupancy %></p>
</div>

<div class="more-informations">
  <% if @room.has_private_bathroom %>
    <p>Banheiro privado</p>
  <% end %>

  <% if @room.has_balcony %>
    <p>Possui varanda</p>
  <% end %>

  <% if @room.has_air_conditioning %>
    <p>Ar-condicionado</p>
  <% end %>

  <% if @room.has_tv %>
    <p>Possui TV</p>
  <% end %>

  <% if @room.has_wardrobe %>
    <p>Tem guarda-roupa</p>
  <% end %>

  <% if @room.is_accessible %>
    <p>Acessível para PCD</p>
  <% end %>

  <% if @room.has_cofre %>
    <p>Possui cofre</p>
  <% end %>



<h2>Fazer Reserva</h2>

<%= form_with(model: @reservation, url: room_reservations_path, local: true) do |form| %>
  <%# Aqui vão os campos do formulário %>

  <div class="field">
    <%= form.label :entry_date %>
    <%= form.date_field :entry_date, required: true %>
  </div>

  <div class="field">
    <%= form.label :departure_date %>
    <%= form.date_field :departure_date, required: true %>
  </div>

  <div class="field">
    <%= form.label :number_of_guests %>
    <%= form.number_field :number_of_guests, required: true %>
  </div>

  <div class="actions">
    <%= form.submit 'Verificar Disponibilidade' %>
  </div>
<% end %>