<h1> <%= @room.name %> </h1>

<p> Data de entrada: <%= @reservation.entry_date.strftime("%d/%m/%Y") %> </p>
<p> Check-in: <%= @room.guesthouse.check_in_time.strftime("%Hh%M") %> </p>

<p> Data de saída: <%= @reservation.departure_date.strftime("%d/%m/%Y") %> </p>
<p> Check-out: <%= @room.guesthouse.check_out_time.strftime("%Hh%M") %> </p>

<p> Valor total: R$ <%= number_with_precision(@reservation.total_price, precision: 2, separator: ',') %> </p>

<% if @reservation.confirmed? && @reservation.cancellable? %>
  <%= form_for @reservation, url: room_cancel_reservation_path(@room, @reservation), method: :patch do |form| %>
    <%= form.submit 'Cancelar reserva' %>
  <% end %>
<% end %>

<% if owner_signed_in? %>
  <%= link_to "Realizar check-in", reservation_check_in_path(@reservation), method: :post %>
<% end %>