<section class="information-reservation">
  <h1 class="room-reservation"> <%= @reservation.room.name %> </h1>

  <div class="dates">
    <div class="checkin">
      <p> Data de entrada: <%= @reservation.entry_date.strftime("%d/%m/%Y") %> </p>
      <p> Check-in: <%= @reservation.guesthouse.check_in_time.strftime("%Hh%M") %> </p>
    </div>

    <div class="checkout">
      <p> Data de saída: <%= @reservation.departure_date.strftime("%d/%m/%Y") %> </p>
      <p> Check-out: <%= @reservation.guesthouse.check_out_time.strftime("%Hh%M") %> </p>
    </div>

  </div>

  <p>Quantidade de hóspedes: <%= @reservation.number_of_guests %></p>

  <% if @reservation.finalized? %>
    <p>Total pago: R$ <%= number_with_precision(@reservation.total_price, precision: 2, separator: ',') %> </p>
    <p> Meio de pagamento utilizado: <%= @reservation.payment_method %> </p>
    <p>Estadia finalizada</p>
  <% else %>
    <p> Valor total: R$ <%= number_with_precision(@reservation.total_price, precision: 2, separator: ',') %> </p> 
  <% end %>

  <% if @reservation.confirmed? && @reservation.cancellable? %>
    <%= form_for @reservation, url: room_cancel_reservation_path(@room, @reservation), method: :patch do |form| %>
      <%= form.submit 'Cancelar reserva' %>
    <% end %>
  <% end %>

  <% if owner_signed_in? && @reservation.confirmed? %>
    <%= button_to "Realizar check-in", reservation_check_in_path(@reservation), method: :post %>
  <% end %>
</section>

<% if @reservation.active? %>

  <%= form_with(model: @reservation, url: reservation_check_out_path(@reservation), local: true, method: :post) do |form| %>

    <div class="field">
      <%= form.label :payment_method, "Meio de pagamento utilizado:" %>
      <%= form.text_field :payment_method %>
    </div>

    <div class="actions">
      <%= form.submit 'Realizar check-out' %>
    </div>

  <% end %>
<% end %>

<% if @reservation.finalized? && @reservation.review.nil? && client_signed_in? %>
  <%= form_for @review, url: reservation_reviews_path(@reservation), local: true, method: :post do |f| %>
    <%= f.label :rating %>
    <%= f.select :rating, (0..5).to_a %>

    <%= f.label :comment %>
    <%= f.text_area :comment %>

    <%= f.submit "Fazer avaliação" %>
  <% end %>
<% end %>

<% if @reservation.review.present? %>
  <div>
    <p>Avaliação: (<%= @reservation.client.full_name %>) Nota: <%= @reservation.review.rating %></p>
    <p><%= @reservation.review.comment %></p>
  </div>

  <% if @reservation.review.response_to_review.present? %>
    <div>
      <p>Resposta: (<%= @reservation.guesthouse.name %>) </p>
      <p><%= @reservation.review.response_to_review %></p>
    </div>
  <% end %>
<% end %>