<h1>Avaliações</h1>

<% if @reviews.present? %>
  <% @reviews.each do |review| %>

    <p>Código</p>
    <p> <%= review.reservation.code %> </p>

    <p> <%= review.reservation.room.name %> </p>

    <p>
      Comentário: <%= review.comment %>
    </p>

    <p>Nota: <%= review.rating %></p>

    <p>Data de check-in: <%= review.reservation.check_in_date.strftime("%d/%m/%Y") %></p>
    <p>Data de check-out: <%= review.reservation.checkout_date.strftime("%d/%m/%Y") %></p>

    <p>Hóspede: <%= review.reservation.client.full_name %></p>

    <%= link_to "Responder avaliação", reservation_review_path(review.reservation, review) %>

  <% end %>
<% else %>

  <p>Não possui nenhuma avaliação</p>

<% end %>