<section class="comments">
  <h2 class="title-comments">Avaliações:</h2>

  <% if @reviews.present? %>
    <div class="comments-grid">
      <% @reviews.each do |review| %>

      <div class="card-comment">

        <p class="room-review"> <%= review.reservation.room.name %> </p>
        <p class="full_name"><small>Hóspede: </small><%= review.reservation.client.full_name %></p>

        <p class="comment-review">
          Comentário: <%= review.comment %>
        </p>

        <div class="dates">
          <p class="date-checkin">Data de check-in: <%= review.reservation.check_in_date.strftime("%d/%m/%Y") %></p>
          <p class="date-checkout">Data de check-out: <%= review.reservation.checkout_date.strftime("%d/%m/%Y") %></p>
        </div>

        <p class="code"><small>Código:</small> <%= review.reservation.code %> </p>
        <p class="rating"><small>Nota: </small><%= review.rating %></p>

        <% if owner_signed_in? %>
          <%= link_to "Responder avaliação", reservation_review_path(review.reservation, review), class: "button-response" %>
        <% end %>
      </div>

      <% end %>
    </div>

  <% else %>

    <p>Não possui nenhuma avaliação</p>

  <% end %>
</section>
