<!DOCTYPE html>
<html>
  <head>
    <title>Pousadaria | <%= @page_title %></title>
    <%# import font family %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <%# end %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <h1><%= link_to "Pousadaria", root_path %></h1>

        <div class="menu">
          <% if user_signed_in? %>
          
          <% if current_user.guesthouse.present? %>
            <%= link_to "Minha pousada", guesthouse_path(current_user.guesthouse) %>
          <% end %>
            <%= current_user.email %> / <%= button_to "Sair", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Entrar / Cadastrar", new_user_session_path %>
          <% end %>
        </div>
        
      </nav>
    </header>

    
    
    <main>
      <div>
        <p class= "base-alert notice" role='alert'><%= notice %></p>
        <p class= "base-alert error" role='error'><%= alert %></p>
      </div>
      <%= yield %>
    </main>


  </body>
</html>
